body {
  background-color: #3a4750;
  margin: 0px;
}

h1 {
  color: #f6c90e;
  background-color: #303841;
  font-weight: normal;
  font-family: 'Anton', sans-serif;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.notebook {
  background-color: #303841;
  max-width: 815px;
  margin: auto;
  border-radius: 12px;
  padding: 10px;
}

.note {
  padding: 10px;
  margin: 5px;
  width: 230px;
  background-color: #f6c90e;
  color: black;
  display: inline-block;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.delete-icon {
  width: 16px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.title {
  text-align: center;
  outline: none;
}

.content {
  outline: none;
}

.options {
  text-align: center;
}

.note-template {
  display: none;
}

button {
  background-color: #303841;
  padding: 8px;
  border: 1px solid #f6c90e;
  color:white;
  margin: 10px;
  cursor: pointer;
  font-family: 'anton', sans-serif;
  font-size: 18px;
}
